@model Zeal_Institute.Models.Feedback

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<p class="text-left">
    <a href="@Url.Action("Index", "Feedbacks")" class="text-gray-700"><i class="fas fa-angle-left me-2"></i> Back to List</a>
</p>

<h4>Details feedback</h4>

<div>
    <h4>Feedback</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FbEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FbEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FbPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FbPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FbName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FbName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
