@model IEnumerable<Zeal_Institute.Models.Feedback>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var count = 0;
}

<h4 class="py-3">List feedbacks</h4>

<div class="card shadow-sm table-wrapper table-responsive">
    <table class="display table table-flush" id="table_id">
        <thead class="thead-light">
            <tr>
                <th class="text-center">#</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Type</th>
                <th>Content</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                count++;
            <tr>
                <td class="text-center">@count</td>
                <td>
                    @Html.DisplayFor(modelItem => item.FbName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FbEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FbPhone)
                </td>
                <td class="text-danger">
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                @if (!(item.Status == Zeal_Institute.Models.Feedback.FeedbackStatus.DONE))
                {
                    <td class="text-danger">
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                }
                else
                {
                    <td class="text-success">
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                }
                <td class="text-right">
                    @if (!(item.Status == Zeal_Institute.Models.Feedback.FeedbackStatus.DONE))
                    {
                        <a href="@Url.Action("Edit", "Feedbacks", new { id = item.Id })" class="me-4 text-warning"><i class="fa fa-pencil-alt"></i></a>
                    }
                    <a href="@Url.Action("Delete", "Feedbacks", new { id = item.Id })" class="text-danger pe-4"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#table_id').DataTable();
        });
    </script>
}
