@model IEnumerable<Zeal_Institute.Models.Feedback>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var count = 0;
}

<h4 class="py-3">List feedbacks</h4>

<div class="card shadow-sm table-wrapper table-responsive">
    <table class="display table table-flush" id="table_id">
        <thead class="thead-light">
            <tr>
                <th class="text-center">#</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Name</th>
                <th>Type</th>
                <th>Content</th>
                <th>Note</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                count++;
                <tr>
                    <td class="text-center">@count</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FbEmail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FbPhone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FbName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Content)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Note)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#table_id').DataTable();
        });
    </script>
}
