@model IEnumerable<Zeal_Institute.Models.Course>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    int count = 0;
}

<h4 class="py-3">List Courses</h4>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
    <div>
        <a class="btn btn-success btn-sm text-light me-2" href="@Url.Action("Create", "Courses")">
            <span class="fas fa-plus me-2"></span> Create
        </a>
    </div>
</div>
<div class="card shadow-sm table-wrapper table-responsive">
    <table class="display table table-flush" id="table_id">
        <thead class="thead-light">
            <tr>
                <th class="text-center">#</th>
                <th>Name</th>
                <th>Code</th>
                <th>Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                count++;
                <tr>
                    <td class="text-center">
                        @count
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td class="text-center">
                        <a href="@Url.Action("Edit", "Courses", new { id = item.Id })" class="me-4 text-warning"><i class="fa fa-pencil-alt"></i></a>
                        <a href="@Url.Action("Delete", "Courses", new { id = item.Id })" class="text-danger"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#table_id').DataTable();
        });
    </script>
}
