@model IEnumerable<Zeal_Institute.Models.Course>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h4>List course</h4>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
    <div>
        <a class="btn btn-success btn-sm text-light me-2" href="@Url.Action("Create", "Courses")">
            <span class="fas fa-plus me-2"></span> Create
        </a>
    </div>
</div>
<div class="card card-body shadow-sm table-wrapper table-responsive">
    <table class="display" id="table_id">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Code)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Thumbnail)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>*@
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Thumbnail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>*@
                    <td>
                        <a href="@Url.Action("Edit", "Courses", new { id = item.Id })" class="mr-4 text-warning"><i class="fa fa-pencil-square-o"></i></a>
                        <a href="@Url.Action("Delete", "Courses", new { id = item.Id })" class="text-danger"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#table_id').DataTable();
        });
    </script>
}
