@using Zeal_Institute.Models
@model LoginViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Login.cshtml";
}

<section class="d-flex align-items-center my-5 mt-lg-6 mb-lg-5">
    <div class="container">
        <div class="row justify-content-center form-bg-image" data-background-lg="../../assets/img/illustrations/signin.svg">
            <div class="col-12 d-flex align-items-center justify-content-center">
                <div class="bg-white shadow-soft border rounded border-light p-4 p-lg-5 w-100 fmxw-500">
                    <div class="text-center text-md-center mb-4 mt-md-0">
                        <h1 class="mb-0 h3">Zeal Institute</h1>
                    </div>
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "mt-4", role = "form" }))
                    {

                        @Html.AntiForgeryToken()

                        @Html.ValidationMessage("CustomError", new { @class = "text-danger" })
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group mb-4">
                            @Html.LabelFor(m => m.Email, new { })
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon1"><span class="fas fa-envelope"></span></span>
                                @Html.TextBoxFor(m => m.Email, new { placeholder = "example@fpt.edu.vn", @class = "form-control", autofocus = "", required = "" })
                                <div class="px-3 py-1">
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-group mb-4">
                                @Html.LabelFor(m => m.Password, new { })
                                <div class="input-group">
                                    <span class="input-group-text" id="basic-addon2"><span class="fas fa-unlock-alt"></span></span>
                                    @Html.PasswordFor(m => m.Password, new { placeholder = "Password", @class = "form-control", id = "password", required = "" })
                                    <div class="px-3 py-1">
                                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between align-items-top mb-4">
                                <div class="form-check">
                                    @Html.CheckBoxFor(m => m.RememberMe, new { id = "remember", @class = "form-check-input" })
                                    @Html.LabelFor(m => m.RememberMe, new { @class = "form-check-label mb-0" })
                                </div>
                                <div>
                                    @Html.ActionLink("Forgot password?", "ForgotPassword", "Account", null, new { @class = "small text-right" })
                                </div>
                            </div>
                        </div>
                        <div class="d-grid">
                            <input type="submit" value="Login" class="btn btn-dark" />
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

