@model Zeal_Institute.Models.Exam

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    int count = 0;
}

<p class="text-left">
    <a href="@Url.Action("Index", "Exams")" class="text-gray-700"><i class="fas fa-angle-left me-2"></i> Back to List</a>
</p>
<h4>Exam details <a href="@Url.Action("Edit", "Exams", new { id = Model.Id })" type="button" class="btn btn-sm btn-warning float-end me-3"><i class="fa fa-pen"></i> Edit</a></h4>

<div class="card shadow-sm table-wrapper table-responsive mb-3">
    <div class="dl-horizontal">
        <div class="row m-0 py-3 px-4">
            <div class="col-sm-4 col-md-4">
                <div>
                    @Html.DisplayNameFor(model => model.Batch.Name)
                </div>

                <div>
                    @Html.DisplayFor(model => model.Batch.Name)
                </div>
            </div>
            <div class="col-sm-4 col-md-4">
                <div>
                    @Html.DisplayNameFor(model => model.DateExam)
                </div>

                <div>
                    @Html.DisplayFor(model => model.DateExam)
                </div>
            </div>
            <div class="col-sm-4 col-md-4">
                <div>
                    @Html.DisplayNameFor(model => model.StartTime)
                </div>

                <div>
                    @Model.StartTime
                </div>
            </div>
        </div>
    </div>
    <table class="display table table-flush" id="table_id">
        <thead class="thead-light">
            <tr>
                <th class="text-center">#</th>
                <th>Avatar</th>
                <th>Student</th>
                <th>Roll Number</th>
                <th>Mark</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in (List<Zeal_Institute.Models.ExamDetail>)ViewData["ListExamStudent"])
            {
                count++;
            <tr>
                <td class="text-center">
                    @count
                </td>
                <td>
                    <img class="image-list-object" src="@item.ApplicationUser.Avatar" alt="avatar" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplicationUser.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplicationUser.RollNumber)
                </td>
                @if (item.Mark >= 40)
                {
                    <td class="text-success">
                        @Html.DisplayFor(modelItem => item.Mark)%
                    </td>
                }
                else
                {
                    <td class="text-danger">
                        @Html.DisplayFor(modelItem => item.Mark)%
                    </td>
                }

            </tr>
            }
        </tbody>
    </table>
</div>
