@model IEnumerable<Zeal_Institute.Models.ApplicationUser>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var count = 0;
}

<h4 class="py-3">List Student</h4>

<div class="card shadow-sm table-wrapper table-responsive">
    <table class="display table table-flush" id="table_id">
        <thead class="thead-light">
            <tr>
                <th class="text-center">#</th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.Avatar)
                </th>
                <th>
                    Full name
                </th>
                <th>
                    Roll number
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    Phone
                </th>
                <th>
                    Created at
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                count++;
                <tr>
                    <td class="text-center">@count</td>
                    <td class="text-center">
                        <img class="image-list-object" src="@item.Avatar" alt="avatar"/>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RollNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedAt)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#table_id').DataTable();
        });
    </script>
}