@model IEnumerable<Zeal_Institute.Models.Certificate>

@{
    ViewBag.Title = "ListCertificate";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var count = 0;

    var listStatus = new List<Zeal_Institute.Models.Certificate>();
    listStatus.Add(new Zeal_Institute.Models.Certificate()
    {
        Id = 0,
        Status = Zeal_Institute.Models.Certificate.CertificateStatus.PENDING,
    });
    listStatus.Add(new Zeal_Institute.Models.Certificate()
    {
        Id = 1,
        Status = Zeal_Institute.Models.Certificate.CertificateStatus.DONE,
    });
    var defaultOption = "---Select status---";
    var selectList = new SelectList(listStatus, "Id", "Status");
}

<h4 class="py-3">List Certificates</h4>

@using (Html.BeginForm("ListCertificate", "Reports", FormMethod.Get))
{
    <div class="row my-3">
        <div class="col-1">
            @Html.Label("Status"):
        </div>
        <div class="col-3">
            @Html.DropDownList("Status", selectList, defaultOption, htmlAttributes: new { @class = "form-control" })
        </div>
        <div class="col-2">
            <input type="submit" value="Search" class="btn btn-gray-300" />
        </div>
    </div>

}


<div class="card shadow-sm table-wrapper table-responsive mb-3">
    <table class="display table table-flush" id="table_id">
        <thead class="thead-light">
            <tr>
                <th class="text-center">#</th>
                <th>Student</th>
                <th>Batch</th>
                <th>Course</th>
                <th>Mark</th>
                <th>Registration Date</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                count++;
                <tr>
                    <td class="text-center">@count</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ApplicationUser.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Batch.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Batch.Course.Name)
                    </td>
                    <td>
                        @item.Mark(item.BatchId, item.ApplicationUserId)%
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RegistrationDate)
                    </td>
                    <td class="text-danger">
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td class="text-right">
                        <a href="@Url.Action("DetailsCertificate", "Reports", new { id = item.Id })" class="me-4 text-warning pe-4"><i class="fa fa-pencil-alt"></i></a>
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#table_id').DataTable();
        });
    </script>
}
