@model IEnumerable<Zeal_Institute.Models.Batch>

@{
    ViewBag.Title = "StartBatches";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var count = 0;
}

<h4 class="py-3">Starting Batches</h4>

<div class="card shadow-sm table-wrapper table-responsive">
    <table class="display table table-flush" id="table_id">
        <thead class="thead-light">
            <tr>
                <th class="text-center">#</th>
                <th>Course</th>
                <th>Batch</th>
                <th>Batch Code</th>
                <th>Date Start</th>
                <th>Date End</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                count++;
                <tr>
                    <td class="text-center">@count</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Course.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateStart)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateEnd)
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#table_id').DataTable();
        });
    </script>
}