@model Zeal_Institute.Models.Course
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="single-course-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">

                <div class="single-course-box">
                    <!-- single course content -->
                    <div class="single-course-content">
                        <h1>@Model.Name</h1>
                        <div>
                            <img src="@Model.Thumbnail" class="img-fluid" alt="Responsive image">
                        </div>
                        <br />
                        <h2>What Will I Learn?</h2>
                        <p>@Model.Description</p>
                        <h2>Learning Objectives</h2>
                        <div class="row">
                            <div class="col-md-6">
                                <ul class="list">
                                    <li>Lorem ipsum dolor sit amet, consectetur</li>
                                    <li>Nullam condimentum metus quis magna egestas</li>
                                    <li>Mauris lobortis metus in pharetra posuere</li>
                                    <li>Suspendisse sed est luctus nibh tempor</li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul class="list">
                                    <li>Nullam condimentum metus quis magna egestas</li>
                                    <li>Mauris lobortis metus in pharetra posuere</li>
                                    <li>Suspendisse sed est luctus nibh tempor</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-lg-4">
                <div class="sidebar">
                    <div class="widget course-widget">
                        <p class="price">
                            <span class="price-label">Price</span>
                            <span class="amount"> $ @Model.Price</span>
                        </p>
                        <div class="product-meta-info-list">
                            <h3>Course Features</h3>
                            <div class="meta-info-unit">
                                <div class="icon">
                                    <i class="material-icons">language</i>
                                </div>
                                <div class="value">Language: @Model.Name</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>