@model IEnumerable<Zeal_Institute.Models.Course>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="courses-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="courses-top-bar">
                    <div class="courses-view">
                        <a href="courses.html" class="grid-btn active">
                            <i class="fa fa-th-large" aria-hidden="true"></i>
                        </a>
                        <a href="courses-list.html" class="grid-btn">
                            <i class="fa fa-bars" aria-hidden="true"></i>
                        </a>
                        <span>Showing all 9 results</span>
                    </div>
                    <form class="search-course">
                        <input type="search" name="search" id="search_course" placeholder="Search Courses..." />
                        <button type="submit">
                            <i class="material-icons">search</i>
                        </button>
                    </form>
                </div>

                <div class="row">
                    @for (var i = Model.Count() - 1; i >= 0; i--)
                    {
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="course-post">
                                <div class="course-thumbnail-holder">
                                    <a>
                                        <img style="width: 244px; height: 137px" src="@Model.ElementAt(i).Thumbnail" alt="">
                                    </a>
                                </div>
                                <div class="course-content-holder">
                                    <div style="width: 244px; height: 154px" class="course-content-main">
                                        <h2 class="course-title">
                                            <a href="@Url.Action("Detail", "Course", new {id = Model.ElementAt(i).Id })">@Model.ElementAt(i).Description</a>
                                        </h2>
                                        <div class="course-rating-teacher">
                                            <div class="star-rating has-ratings" title="Rated 5.00 out of 5">
                                                <span style="width:100%">
                                                    <span class="rating">5.00</span>
                                                    <span class="votes-number">1 Votes</span>
                                                </span>
                                            </div>
                                            <a href="@Url.Action("Detail", "Course", new {id = Model.ElementAt(i).Id })" class="course-loop-teacher">Detail</a>
                                        </div>
                                    </div>
                                    <div class="course-content-bottom">
                                        <div class="course-students">
                                            <i class="material-icons">group</i>
                                            <span>64</span>
                                        </div>
                                        <div class="course-price">
                                            <span>@Model.ElementAt(i).Price $</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }


                </div>
            </div>

            <div class="col-lg-4">
                <div class="sidebar">

                    <div class="category-widget widget">
                        <h2>Product categories</h2>
                        <ul class="category-list">
                            <li><a >Design</a></li>
                            <li><a >Photography</a></li>
                            <li><a >Technology</a></li>
                            <li><a >Web Design</a></li>
                            <li><a >Web Development</a></li>
                        </ul>
                    </div>

                    <div class="products-widget widget">
                        <h2>Products</h2>
                        <ul class="products-list">
                            @foreach (var item in Model)
                            {
                                <li>
                                    <a href="@Url.Action("Detail", "Course", new {id = item.Id })"><img src="@item.Thumbnail" alt=""></a>
                                    <div class="list-content">
                                        <h3><a href="@Url.Action("Detail", "Course", new {id = item.Id })">@item.Name</a></h3>
                                        <span>$ @item.Price</span>
                                    </div>
                                </li>
                            }


                        </ul>
                    </div>

                    <div class="ads-widget widget">
                        <a >
                            <img src="http://nunforest.com/studiare/upload/blog/ad-banner@2x.jpg" alt="">
                        </a>
                    </div>

                </div>
            </div>

        </div>

    </div>
</section>

