@model IEnumerable<Zeal_Institute.Models.Batch>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    int count = 0;
}

<h4>List Batches</h4>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
    <div>
        <a class="btn btn-success btn-sm text-light me-2" href="@Url.Action("Create", "Batches")">
            <span class="fas fa-plus me-2"></span> Create
        </a>
    </div>
</div>

<div class="card shadow-sm table-wrapper table-responsive mb-3">
    <table class="display table table-flush" id="table_id">
        <thead class="thead-light">
            <tr>
                <th class="text-center">#</th>
                <th>Batch</th>
                <th>Code</th>
                <th>Course</th>
                <th class="text-center">Date start</th>
                <th class="text-center">Date end</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
           @foreach (var item in Model)
           {
               count++;
                <tr>
                    <td class="text-center">
                        @count
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Course.Name)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.DateStart)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.DateEnd)
                    </td>
                    <td class="text-center">
                        <a href="@Url.Action("Edit", "Batches", new { id = item.Id })" class="me-4 text-warning" title="Edit"><i class="fa fa-pencil-alt"></i></a>
                        <a href="@Url.Action("Delete", "Batches", new { id = item.Id })" class="text-danger" title="Delete"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#table_id').DataTable();
        });
    </script>
}
